torch
torchvision
opencv-python
numpy
loguru
pycocotools
requests
tqdm
tabulate
thop
pyyaml
pandas
pathlib
pillow
matplotlib
seaborn
scipy
onnx
onnxsim
###### tensorrt export #####
# pycuda
# tensorrt
# torch2trt
